<h1>Burger-Me Restaurant App</h1>

<h2>Burgers Comin' Up</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burger-block devoured=0}}
    {{/if}}
    {{/each}}
</ul>

<h2>Burgers Devoured</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burger-block devoured=1}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Add An Order</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
    </div>

    <button type="submit">Add Order</button>
</form>